p {
    font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;

}
input {
    font-family: Tahoma;
    font-size: 30px;
    background: white;
}

.test {
    border-color: red;
    width: 500px;
}




body{
    font-family: Tahoma;
    background-image: url('https://img.freepik.com/free-vector/medical-healthcare-background-with-text-space_1017-26841.jpg?w=2000');
}

