p {
    font-family: Tahoma;
    font-size: 30px;
    font-weight: bold;

}
input {
    font-family: Tahoma;
    font-size: 30px;
    background: white;
}

.test {
    border-color: red;
    width: 500px;
}




body{
  
    background-image: url('https://thumbs.gfycat.com/HalfThunderousFlyingfox-size_restricted.gif');
}
