p {
    font-family: Tahoma;
    font-size: 50px;

}
input {
    font-family: Tahoma;
    font-size: 50px;
    background: white;
}



body{
  
    background-image: url('https://thumbs.gfycat.com/HalfThunderousFlyingfox-size_restricted.gif');
}
